svg {
  font: 12px sans-serif;
}

/*.bar {
  fill-opacity: .6;
}*/

rect:hover {
	fill: orange;
}

.axis text {
  font-family: sans-serif;
  font-size: 1.3em;
}

.axis path,
.axis line {
  display: none;
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y .axis line {
	display: none;
	fill: none;
}

.x .axis line {
	fill: none;
	stroke: #e0e0e0;
	shape-rendering: crispEdges;
}

.y .axis path {
	display: none;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.resize {
      display: inline !important; /* show when empty */
      fill: #7A7A7A;
      fill-opacity: 1;
      stroke: #7A7A7A;
      stroke-width: 2px;
    }

 #tooltip {
 	display: inline;
 }

 /*#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}*/

/*body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
}*/

/* For the donut */

/* Add shadow effect to chart */
svg {
    -webkit-filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.3) );
    filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.25) );
}

/*Styling for the lines connecting the labels to the slices*/
polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
    shape-rendering: geometricPrecision;
}

/* styling for the donut slices*/
path {
    shape-rendering: geometricPrecision;
}

/* Make the percentage on the text labels bold*/
.labelName tspan {
    font-style: normal;
    font-weight: 600;
}

/* Size of label words, Italicise names. */
.labelName {
    font-size: 1.2em;
    font-style: italic;
}

/* Padding between the rows, cells, text alignment under heading */
td, th {
  padding: 2px 4px;
  text-align: center;
}

/*table {
  display: flex;
  flex-direction: column;
  align-items: center;
}
*/
caption {
  text-align: center;
  font-weight: 800;
  font-size: 1.1em;
}




