body {
    font-size: .875rem;
    background-color: rgb(238, 238, 238);
}

.gen-text {
    font-family: Consolas, courier;
    fill: rgb(103, 128, 159);
    color: rgb(103, 128, 159);
}

/*
* Navbar
*/

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1.25rem;
}

/*
* Jumbotron
*/

.jumbotron {
    padding-top: 110px;
    height: 950px;
}

.jumbotron-image {
    width: 800px;
    padding-bottom: 50px;
}

.lead {
    padding-bottom: 20px;
}

/*
* Customer
*/

#customer-viz2 {
    padding-top: 60px;
}

.customer-row-body {
    height: 1900px;
}

.customer-text-block {
    padding-left: 80px;
}

.customer-text-intro {
    padding-top: 240px;
    height: 800px;
}

.customer-text-body-1 {
    height: 450px;
}

/*
* Product
*/

.product-row-body {
    height: 2000px;
}

.product-text-block {
    padding-left: 80px;
}

.product-text-intro {
    padding-top: 240px;
    height: 830px;
}

.product-text-body-1 {
    height: 550px;
}

/*
* Market Trends
*/

/* .tableauPlaceholder {
    width: 1300px; 
    height: 800px; 
    position: absolute;
    left: 200px;
} */

.market-row-body {
    height: 2500px
}

.market-text-intro {
    padding-top: 275px;
    height: 800px;
}

.market-text-growth {
    height: 600px;
}

.market-text-season {
    height: 600px;
}

.market-text-list {
    padding-left: 20px;
}

.product-line {
    stroke: rgb(75, 119, 190);
    stroke-width: 3;
}

/* .product-line-topnetgrowth {
    stroke: rgb(52, 73, 94);
    stroke-width: 6;
} */

.product-circle {
    fill: rgb(75, 119, 190);
    pointer-events: none;
}

/* .product-circle-topnetgrowth {
    fill: rgb(52, 73, 94);
} */

.product-circle-text-line1 {
    pointer-events: none;
}

line.hover-line {
    stroke: rgb(255, 203, 5);
    stroke-width: 1.5;
    stroke-dasharray: 5 2;
}

/*
* Processing
*/ 

.processing-row-body {
    height: 2600px;
}

.processing-text-block {
    padding-left: 80px;
}

.processing-text-intro {
    padding-top: 180px;
    height: 800px;
}

.processing-text-body-1 {
    height: 550px;
}

.processing-text-body-2 {
    height: 650px;
}

/*
* Overview
*/

.overview-row-body {
    height: 1500px;
}

/* .overview-text-block {
    padding-left: 80px;
} */

.overview-text-intro {
    padding-top: 220px;
    height: 850px;
}

.overview-text-body-1 {
    height: 550px;
}

.overview-text-body-2 {
    height: 550px;
}

.overview-text-body-3 {
    height: 550px;
}

.overview-text-conclusion {
    height: 550px;
}


#overview-viz2 {
    display: none;
}

#overview-viz3 {
    display: none;
}

#overview-viz4 {
    display: none;
}

#overview-viz5 {
    display: none;
}


/* 

#chart1 .bar {
    fill: grey;
}

#chart2 .bar {
fill: grey;
}


#chart .attention {
background: yellow;
margin: -4px;
padding: 4px;
} */
