svg {
  font: 10px sans-serif;
}

/*.bar {
  fill-opacity: .6;
}*/

rect:hover {
	fill: orange;
}

.axis path,
.axis line {
  display: none;
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y .axis line {
	display: none;
	fill: none;
}

.x .axis line {
	fill: none;
	stroke: #e0e0e0;
	shape-rendering: crispEdges;
}

.y .axis path {
	display: none;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.resize {
      display: inline !important; /* show when empty */
      fill: #7A7A7A;
      fill-opacity: 1;
      stroke: #7A7A7A;
      stroke-width: 2px;
    }
ß
 #tooltip {
 	display: inline;
 }

 /*#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}*/




